.HospitalName {
    display:flex; 
    flex-direction:row;
}

.HospitalName > img{
    width: 40px; 
    height:auto;
}

section{
    min-height:80vh; 
    display:flex; 
    flex-direction:row; 
    justify-content:space-around; 
    padding-top:200px;
}

.SearchForm{
    display:flex; 
    flex-direction:column;
}

.SearchForm2{
    display:flex; 
    flex-direction:column;
}

table{
    border:1px black ; 
    line-height:25px;
}

@media (max-width: 1210px){
    section{
        flex-direction:column;
        /* justify-content: normal; */
        padding-top:5%;
    }
    .SearchForm{
        width: 800px;
    }
}

@media (max-width:970px){
    .SearchForm{
        width:600px;
    }
}

      @media (max-width:600px){
    
    .SearchForm{
        width:400px;
    }
    } 

    @media (max-width:400px){
        .SearchForm{
            width: 300px;
        }
        section{
            min-height:120vh;
            padding-bottom: 50px;
        }
    }