@media(max-width:1000px){
    .clientForm{
    }
    .ContactDiv{
        display:flex;
        flex-direction:column;
    }
}

@media(max-width:450px){
    .ClientInfoDiv{
        width:300px;
    }
    body{
        margin:0;
        padding:0;
    }
}