section{
	background-image: url(../Foto/department.jpg);
	min-height:80vh;
	background-repeat: repeat-y;
	background-size: cover;
}

.departments-section{
	overflow: hidden;
	/* text-align: center;
	//background: #34495e; */
	padding: 60px;
}

.departments-section h1{
	text-transform: uppercase;
	margin-bottom: 60px;
	color:rgba(0,136,169,1);
	font-size: 40px;
}

.Departments-border{
	/* display:block; */
	margin: auto;
	width: 160px;
	height: 3px;
	background: #3498db;
	margin-bottom: 40px;
}

.picture-section{
	margin-bottom: 40px;
	display:inline-block;
	/* display:block;
	flex-direction: row;
	align-items:center; 
	justify-content:center;*/
}

.picture-section a{
	display: inline-block;
	margin: 0 30px;
	width: 160px;
	height: 160px;
	overflow: hidden;
	
}

.picture-section a img{
	width:100%;
	height:80%;
	//filter: grayscale(100%);
	transition: 0.4s all;
}

.picture-section a:hover > img{
	//filter:none;
	filter: grayscale(100%);
}

.DepartmentSection{	
	//background:#F0F8FF;
	width:600px;
	margin:auto;
	font-size:20px;
	color:black;
	height: 0;
	overflow: hidden;
	
}

.DepartmentSection p{
	color:rgba(0,136,169,1);
	background:#F0F8FF;
}

.DepartmentSection:target{
	height:auto;
	border-bottom:3px solid rgba(0,136,169,1);
}

.DepartmentName{
	display:block;
	margin-bottom: 30px;
	text-align:center;
	text-transform:uppercase;
	font-size:22px;
}

.Dep{
float:left; 
margin:50px 50px;
	}

@media(max-width:450px){
	.Dep{
		margin:30px 0;
	}
}